header{
    background-color: #714520;
    color: aliceblue;
    font-size: xx-large;
    text-align: end;
}
article{
    background-color: #76971B;
    color: aliceblue;
    font-size: xx-large;
    text-align: justify;
}
